*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    background: orange;
}
.wrapper{
    width: 770px;
    padding: 35px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

.wrapper .content-box{
padding: 13px 20px 0;
border-radius: 10px;
border: 1px solid #bfbfbf;
}

.wrapper .input-field{
    padding: 13px 20px 0;
    position: absolute;
    opacity: 0;
    z-index: -99;
}

.content-box .content{
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
}

.content-box .result-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:calc(100% - 140px);
}

.result-details li{
    display: flex;
    height: 20px;
    list-style: none;
    align-items: center;
}

.content button{
    width: 105px;
    outline: none;
    border: none;
    color: #fff;
    background: orange;
    padding: 8px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.content button:active{
    transform: scale(0.97);
}

.typing-text p span{
    position: relative;
}
.typing-text p span.active{
    color: orange;
}

.typing-text p span.correct{
    color: green
}
.typing-text p span.incorrect{
    color: red;
    outline: 1px solid #fff;
    background: #ffc0cb;
    border-radius: 4px;
}

::selection{
    color: #fff;
    background: orange;
}